In [39]:
import os
import pandas as pd

In [40]:
if not os.path.exists("../data/grand-slam-point-data/combined-points/2011-combined-points.csv"):
    print("Missing dataset file")
print("Success!")

Success!

In [41]:
points_2011 = pd.read_csv("../data/grand-slam-point-data/combined-points/2011-combined-points.csv", low_memory = False)
points_2011.head()

,Unnamed: 0,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,...,Speed_MPH,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo
0,0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,...,0.0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,...,103.0,0,0,2,0,0,NaN,NaN,NaN,NaN
2,2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,...,82.0,0,0,2,0,0,NaN,NaN,NaN,NaN
3,3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,...,89.0,0,0,2,0,0,NaN,NaN,NaN,NaN
4,4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,...,85.0,0,0,1,8,0,NaN,NaN,NaN,NaN

In [42]:
points_2011.shape

(114540, 57)

In [43]:
points_2011['match_id_num'] = points_2011['match_id'].str.split('-').str[2]
points_2011.head()

,Unnamed: 0,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [44]:
points_2011['match_id_num'] = pd.to_numeric(points_2011['match_id_num'], errors='coerce')

In [45]:
points_2011 = points_2011[points_2011['match_id_num'] < 2000]

In [46]:
points_2011.shape

(70438, 58)

In [47]:
points_2011.drop(columns=points_2011.columns[0], inplace=True, axis=1)
points_2011.shape

(70438, 57)

In [48]:
points_2011.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,0.0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,1.0,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [56]:
import numpy as np
points_2011 = points_2011[points_2011.columns.dropna()]
points_2011.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,0.0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,1.0,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101