In [1]:
import os
import pandas as pd

In [2]:
if not os.path.exists("../data/grand-slam-point-data/combined-points/2011-combined-points.csv"):
    print("Missing dataset file")
print("Success!")

Success!

In [3]:
points_2011 = pd.read_csv("../data/grand-slam-point-data/combined-points/2011-combined-points.csv", low_memory = False)
points_2011.head()

,Unnamed: 0,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [4]:
points_2011.shape

(70438, 58)

In [5]:
points_2011['match_id_num'] = points_2011['match_id'].str.split('-').str[2]
points_2011.head()

,Unnamed: 0,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [6]:
points_2011['match_id_num'] = pd.to_numeric(points_2011['match_id_num'], errors='coerce')

In [7]:
points_2011 = points_2011[points_2011['match_id_num'] < 2000]

In [8]:
points_2011.shape

(70438, 58)

In [9]:
points_2011.drop(columns=points_2011.columns[0], inplace=True, axis=1)
points_2011.shape

(70438, 57)

In [10]:
points_2011.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,0.0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,1.0,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [11]:
import numpy as np
points_2011 = points_2011[points_2011.columns.dropna()]
points_2011.head()

,match_id,ElapsedTime,SetNo,P1GamesWon,P2GamesWon,SetWinner,GameNo,GameWinner,PointNumber,PointWinner,...,P1BreakPointMissed,P2BreakPointMissed,ServeIndicator,P1TurningPoint,P2TurningPoint,Serve_Direction,Winner_FH,Winner_BH,ServingTo,match_id_num
0,2011-ausopen-1101,00:00:00,1.0,0.0,0.0,0,1.0,0,0,0.0,...,0,0,0,0,0,NaN,NaN,NaN,NaN,1101
1,2011-ausopen-1101,0:00:00,1.0,0.0,0.0,0,1.0,0,1,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
2,2011-ausopen-1101,0:00:23,1.0,0.0,0.0,0,1.0,0,2,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
3,2011-ausopen-1101,0:00:59,1.0,0.0,0.0,0,1.0,0,3,1.0,...,0,0,2,0,0,NaN,NaN,NaN,NaN,1101
4,2011-ausopen-1101,0:01:57,1.0,1.0,0.0,0,1.0,1,4,1.0,...,0,0,1,8,0,NaN,NaN,NaN,NaN,1101

In [20]:
matches = pd.read_csv("../data/flowchart-data/charting-m-matches.csv", encoding='unicode_escape')

In [36]:
unique_players = set(matches["Player 1"].unique().tolist() + matches["Player 2"].unique().tolist())
unique_players.pop()

nan

In [31]:
print('\n'.join(sorted(unique_players)))
print(len(unique_players))

Aaron Krickstein
Adam Pavlasek
Adrian Mannarino
Adriano Panatta
Adrien Bossel
Agustin Calleri
Agustin Velotti
Akira Santillan
Albano Olivetti
Albert Costa
Albert Montanes
Albert Ramos
Alberto Berasategui
Alberto Mancini
Alejandro Davidovich Fokina
Alejandro Falla
Alejandro Gonzalez
Alejandro Tabilo
Aleksandar Vukic
Aleksandr Nedovyesov
Alessandro Giannessi
Alex Bolt
Alex Corretja
Alex De Minaur
Alex Kuznetsov
Alex Molcan
Alex Molcan
Alexander Bublik
Alexander Cozbinov
Alexander Ritschard
Alexander Vasilenko
Alexander Volkov
Alexander Zverev
Alexander Zverev
Alexandr Dolgolopov
Alexandr Dolgopolov
Alexandre Penaud
Alexei Popyrin
Alexey Vatutin
Alexis Galarneau
Aljaz Bedene
Altug Celikbilek
Amir Weintraub
Anders Jarryd
Andre Agassi
Andrea Arnaboldi
Andrea Collarini
Andrea Gaudenzi
Andrea Pellegrino
Andrea Vavassori
Andreas Haider Maurer
Andreas Seppi
Andreas Vinciguerra
Andrei Cherkasov
Andrei Chesnokov
Andrei Medvedev
Andrei Pavel
Andrej Martin
Andres Artunedo
Andres Gomez
Andrew Harris
Andrey Golubev
Andrey Kuznetsov
Andrey Rublev
Andrey Rublev
Andy Murray
Andy Murray
Andy Roddick
Ante Pavic
Antoine Escoffier
Antoine Hoang
Antonio Veic
Arnaud Boetsch
Arnaud Clement
Arnaud Di Pasquale
Arthur Ashe
Arthur Cazaux
Arthur Rinderknech
Aslan Karatsev
Attila Balazs
Axel Michon
Baptiste Crepatte
Ben Shelton
Benjamin Becker
Benjamin Bonzi
Benoit Paire
Bernabe Zapata Miralles
Bernard Tomic
Bill Scanlon
Bjorn Borg
Bjorn Fratangelo
Blaz Kavcic
Blaz Rola
Bob Bryan
Boris Becker
Borna Coric
Botic Van De Zandschulp
Brad Gilbert
Bradley Klahn
Brandon Nakashima
Brayden Schnur
Brian Gottfried
Brian Teacher
Cameron Norrie
Cameron Norrie
Carlos Alcaraz
Carlos Berlocq
Carlos Costa
Carlos Eduardo Severino
Carlos Gimeno Valero
Carlos Moya
Carlos Taberner
Casper Ruud
Casper Ruud
Cedric Pioline
Cedrik Marcel Stebe
Cem Ilkel
Chase Buchanan
Chieh Fu Wang
Chris Guccione
Chris Lewis
Chris Woodruff
Christophe Rochus
Christophe Roger Vasselin
Christopher Eubanks
Christopher Heyman
Christopher Oconnell
Chun Hsin Tseng
Constant Lestienne
Corentin Denolly
Corentin Moutet
Cristian Garin
Dalibor Svrcina
Damir Dzumhur
Daniel Altmaier
Daniel Cox
Daniel Evans
Daniel Gimeno Traver
Daniel Masur
Daniel Nestor
Daniel Nguyen
Daniel Smethurst
Daniil Medvedev
Daniil Medvedev
Danilo Petrovic
Darian King
Dario Acosta
David Ferrer
David Goffin
David Guez
David Nalbandian
David Perez Sanz
David Wheaton
Davide Sanguinetti
Denis Istomin
Denis Kudla
Denis Shapovalov
Dennis Novak
Dennis Novikov
Diego Schwartzman
Dominic Thiem
Dominik Hrbaty
Dominik Koepfer
Donald Young
Dragos Dima
Duck Hee Lee
Dudi Sela
Dusan Lajovic
Dustin Brown
Dzmitry Zhyrmont
Edouard Roger Vasselin
Eduardo Russi
Eduardo Struvay
Egor Gerasimov
Elliot Benchetrit
Emil Ruusuvuori
Emilio Gomez
Emilio Sanchez
Enzo Couacaud
Ernesto Escobedo
Ernests Gulbis
Evan King
Evgeny Donskoy
Fabio Fognini
Fabrice Santoro
Facundo Arguello
Facundo Bagnis
Facundo Mena
Farrukh Dustov
Federico Coria
Federico Delbonis
Federico Gaio
Federico Luzzi
Feliciano Lopez
Felix Auger Aliassime
Felix Auger Aliassime
Felix Mantilla
Fernando Gonzalez
Fernando Meligeni
Fernando Romboli
Fernando Verdasco
Filip Dewulf
Filip Krajinovic
Filip Misolic
Filippo Volandri
Flavio Cobolli
Florian Mayer
Frances Tiafoe
Francesco Passaro
Francisco Cerundolo
Francisco Clavet
Francisco Llanes
Franco Skugor
Franco Squillari
Frank Dancevic
Gael Monfils
Gastao Elias
Gaston Gaudio
Gavin Van Peperzeel
George Bastl
Gerald Melzer
Germain Gigounon
Gianluca Mager
Gianluigi Quinzi
Gijs Brouwer
Gilles Muller
Gilles Simon
Giorgio Galimberti
Giovanni Lapentti
Goncalo Oliveira
Gonzalo Escobar
Gonzalo Lama
Goran Ivanisevic
Greg Rusedski
Grega Zemlja
Gregoire Barrere
Grigor Dimitrov
Guido Andreozzi
Guido Pella
Guillermo Canas
Guillermo Coira
Guillermo Coria
Guillermo Garcia Lopez
Guillermo Vilas
Gustavo Kuerten
Guy Forget
Harel Levy
Harold Mayot
Harold Solomon
Hendrik Dreekmann
Henri Laaksonen
Henri Leconte
Henrik Holm
Hicham Arazi
Hiroki Moriya
Ho Gi Kang
Holger Rune
Horacio Zeballos
Hubert Hurkacz
Hubert Hurkacz
Hugo Dellien
Hugo Gaston
Hugo Grenier
Hunter Reese
Hyeon Chung
Igor Andreev
Igor Sijsling
Ilie Nastase
Illya Marchenko
Ilya Ivashka
Inigo Cervantes Huegun
Irakli Labadze
Ivan Dodig
Ivan Gakhov
Ivan Lendl
Ivan Ljubicic
Ivo Karlovic
Izak Van Der Merwe
J J Wolf
Jack Draper
Jack Sock
Jaime Yzaga
Jakob Hlasek
James Blake
James Duckworth
James Ward
Jan Hernych
Jan Kodes
Jan Kroslak
Jan Lennard Struff
Jan Michael Gambill
Jan Siemerink
Janko Tipsarevic
Jannik Sinner
Jared Donaldson
Jarkko Nieminen
Jarmere Jenkins
Jason Jung
Jason Kubler
Jason Stoltenberg
Jaume Munar
Javier Sanchez
Jay Clarke
Jean Yves Aubone
Jelle Sels
Jenson Brooksby
Jenson Brooksby
Jeremy Chardy
Jeremy Jahn
Jerzy Janowicz
Jesper De Jong
Jim Courier
Jimmy Arias
Jimmy Connors
Jimmy Wang
Jiri Hrebec
Jiri Lehecka
Jiri Novak
Jiri Vesely
Jo Wilfried Tsonga
Jo Wilfried Tsonga
Joachim Johansson
Joao Sousa
Joao Souza
Johan Kriek
Johan Sebastien Tatlot
Johannes Haerteis
John Isner
John Marks
John McEnroe
John Mcenroe
John Millman
John Newcombe
Jonas Bjorkman
Jonas Svensson
Jordan Thompson
Jordi Arrese
Jose Hernandez
Jose Higueras
Jose Luis Clerc
Jose Rubin Statham
Jozef Kovalik
Juan Aguilera
Juan Carlos Ferrero
Juan Carlos Saez
Juan Ignacio Chela
Juan Ignacio Londero
Juan Manuel Cerundolo
Juan Martin Del Potro
Juan Martin del Potro
Juan Monaco
Juan Pablo Varillas
Julian Reister
Julien Benneteau
Julien Boutter
Jurgen Melzer
Jurgen Zopp
Jurij Rodionov
Kamil Majchrzak
Karel Novacek
Karen Khachanov
Karen Khachanov
Karim Alami
Karim Mohamed Maamoun
Karol Beck
Karol Kucera
Kei Nishikori
Kelly Evernden
Ken Rosewall
Kenneth Carlsen
Kevin Anderson
Kevin Curren
Kevin King
Kevin Krawietz
Kim Warwick
Kimmer Coppejans
Konstantin Kravchuk
Kyle Edmund
Laslo Djere
Laurynas Grigelis
Leander Paes
Leandro Riedi
Leo Borg
Leonardo Mayer
Liang Chi Huang
Lleyton Hewitt
Lloyd Harris
Lloyd Harris
Lorenzo Giustino
Lorenzo Musetti
Lorenzo Sonego
Luca Nardi
Luca Vanni
Lucas Pouille
Luciano Darderi
Luis Ayala
Lukas Lacko
Lukas Rosol
Lukasz Kubot
Mackenzie Mcdonald
Magnus Gustafsson
Magnus Larsson
Magnus Norman
Makoto Ochi
Malek Jaziri
Malivai Washington
Mansour Bahrami
Manuel Orantes
Marat Safin
Marc Andrea Huesler
Marc Lopez
Marc Polmans
Marc Rosset
Marc Sieber
Marcel Granollers
Marcelo Arevalo
Marcelo Rios
Marco Cecchinato
Marco Trungelliti
Marcos Baghdatis
Marcos Giron
Marcus Willis
Mardy Fish
Mariano Zabaleta
Marin Cilic
Marinko Matosevic
Mario Ancic
Mario Vilella Martinez
Marius Copil
Mark Edmondson
Mark Kevin Goellner
Mark Philippoussis
Mark Woodforde
Markus Eriksson
Marsel Ilhan
Martin Cuevas
Martin Klizan
Martin Redlicki
Martin Verkerk
Marton Fucsovics
Mate Delic
Mathias Bourgue
Mats Wilander
Matt Reid
Matteo Arnaldi
Matteo Berrettini
Matteo Berrettini
Matthew Ebden
Matthias Bachinger
Mauricio Echazu
Max Hans Rehberg
Max Mirnyi
Max Purcell
Maxime Cressy
Maximilian Marterer
Maximo Gonzalez
Michael Berrer
Michael Chang
Michael Llodra
Michael Mmoh
Michael Redlicki
Michael Stich
Michael Westphal
Michal Przysiezny
Michel Kratochvil
Mikael Pernfors
Mikael Ymer
Mike Bryan
Mikhail Kukushkin
Mikhail Youzhny
Mili Poljicak
Miljan Zekic
Milos Raonic
Milos Sekulic
Miloslav Mecir
Miloslav Mecir Jr
Miomir Kecmanovic
Mirza Basic
Mischa Zverev
Mitchell Krueger
Mohamed Safwat
N Sriram Balaji
Nattan Benjasupawan
Neale Fraser
Nick Kyrgios
Nicola Kuhn
Nicola Pietrangeli
Nicolas Almagro
Nicolas Escude
Nicolas Jarry
Nicolas Kiefer
Nicolas Lapentti
Nicolas Mahut
Nicolas Massu
Nikola Cacic
Nikola Milojevic
Nikola Pilic
Nikolay Davydenko
Nikoloz Basilashvili
Noah Rubin
Norbert Gombos
Novak Djokovic
Novak Djokovic
Nuno Borges
Oleksandr Ovcharenko
Olivier Delaitre
Omar Camporese
Oscar Otte
Pablo Andujar
Pablo Carreno Busta
Pablo Cuevas
Paolo Cane
Paolo Lorenzi
Paradorn Srichaphan
Pat Cash
Patrick Mcenroe
Patrick Rafter
Paul Haarhuis
Paul Henri Mathieu
Paul Jubb
Pavel Kotov
Pavel Tsoy
Pedja Krstin
Pedro Cachin
Pedro Martinez
Pedro Sousa
Pete Sampras
Peter Gojowczyk
Peter Polansky
Petr Korda
Philipp Kohlschreiber
Pierre Hugues Herbert
Potito Starace
Prajnesh Gunneswaran
Quentin Halys
Radek Stepanek
Radu Albot
Rafael Nadal
Rafael Nadal
Rainer Schuettler
Ramkumar Ramanathan
Reilly Opelka
Renzo Olivo
Ricardas Berankis
Ricardo Hocevar
Riccardo Bonadio
Richard Gasquet
Richard Krajicek
Richey Reneberg
Robby Ginepri
Roberto Bautista Agut
Roberto Carballes Baena
Roberto Cid
Roberto Marcora
Robin Haase
Robin Soderling
Rod Frawley
Rod Laver
Roger Federer
Roger Federer
Rogerio Dutra Silva
Roman Safiullin
Roscoe Tanner
Roy Smith
Ruben Bemelmans
Ruben Gonzales
Ruben Ramirez Hidalgo
Rudolf Molleker
Rudy Coco
Ryan Harrison
Saidalo Saidkarimov
Salvatore Caruso
Sam Querrey
Samuel Groth
Sanam Singh
Sandro Ehrat
Sanjar Fayziev
Santiago Giraldo
Sargis Sargsian
Sascha Gueymard Wayenburg
Scott Draper
Scott Griekspoor
Sebastian Baez
Sebastian Fanselow
Sebastian Korda
Sebastien Grosjean
Sergei Bruguera
Sergey Fomin
Sergi Bruguera
Sergio Casal
Sergiy Stakhovsky
Sho Katayama
Simone Bolelli
Sjeng Schalken
Slobodan Zivojinovic
Somdev Devvarman
Soon Woo Kwon
Stan Smith
Stan Wawrinka
Stan Wawrinka
Stefan Edberg
Stefan Kozlov
Stefano Napolitano
Stefano Travaglia
Stefanos Tsitsipas
Stefanos Tsitsipas
Stephane Robert
Steve Darcis
Steve Denton
Steve Johnson
Steven Diez
Sumit Nagal
Tallon Griekspoor
Taro Daniel
Taylor Dent
Taylor Fritz
Tennys Sandgren
Teymuraz Gabashvili
Thai Son Kwiatkowski
Thanasi Kokkinakis
Thanasi Kokkinakis
Thiago Monteiro
Thiago Monteiro
Thiago Seyboth Wild
Thiemo De Bakker
Thiemo de Bakker
Thomas Enqvist
Thomas Fabbiano
Thomas Johannson
Thomas Johansson
Thomas Muster
Thomaz Bellucci
Ti Chen
Tim Henman
Tim Mayotte
Tim Smyczek
Tim Van Rijthoven
Tobias Kamke
Todd Martin
Todd Woodbridge
Tomas Barrios Vera
Tomas Berdych
Tomas Machac
Tommy Haas
Tommy Paul
Tommy Robredo
Tony Roche
Tsung Hua Yang
Ty Trombetta
Ugo Humbert
Uladzimir Ignatik
Ulises Blanch
Vaclav Safranek
Vasek Pospisil
Victor Estrella
Victor Pecci
Viktor Durasovic
Viktor Troicki
Vincent Millot
Vincent Spadea
Vincenzo Santopadre
Vitas Gerulaitis
Vladimir Ivanov
Vladimir Voltchkov
Wally Masur
Wayne Arthurs
Wayne Ferreira
Xavier Malisse
Yannick Maden
Yannick Mertens
Yannick Noah
Yasutaka Uchiyama
Yen Hsun Lu
Yevgeny Kafelnikov
Yoshihito Nishioka
Younes El Aynaoui
Yuichi Ito
Yuichi Sugita
Yuki Bhambri
Zdenek Kolar
Ze Zhang
Zhe Li
Zhizhen Zhang
Zsombor Piros
684