In [1]:
import pandas as pd
import numpy as np

In [2]:
points = pd.read_csv(f"../data/points-pressure.csv", encoding='unicode_escape', low_memory=False)
points

,Unnamed: 0,match_id,SetNo,P1GamesWon,P2GamesWon,GameNo,GameWinner,PointNumber,PointWinner,PointServer,...,P1DoubleFault,P2DoubleFault,P1UnfErr,P2UnfErr,P1BreakPoint,P2BreakPoint,P1Errors,P2Errors,P1Pressure,P2Pressure
0,0,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
1,1,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,1,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0
2,2,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,2,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,2.0
3,3,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,3,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0
4,4,2011-ausopen-1101,1.0,1.0,0.0,1.0,1.0,4,1.0,2.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792718,792718,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,272,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0
792719,792719,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,273,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,25.0,49.0,1.0,3.0
792720,792720,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,274,2.0,2.0,...,0.0,0.0,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0
792721,792721,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,275,1.0,2.0,...,0.0,0.0,0.0,1.0,0.0,0.0,25.0,50.0,1.0,3.0
792722,792722,2021-wimbledon-1701,4.0,6.0,3.0,9.0,1.0,276,1.0,2.0,...,0.0,0.0,0.0,1.0,1.0,0.0,25.0,51.0,1.0,3.0

In [4]:
points["P1PostError"] = np.zeros(len(points))
points["P2PostError"] = np.zeros(len(points))
points

,Unnamed: 0,match_id,SetNo,P1GamesWon,P2GamesWon,GameNo,GameWinner,PointNumber,PointWinner,PointServer,...,P1UnfErr,P2UnfErr,P1BreakPoint,P2BreakPoint,P1Errors,P2Errors,P1Pressure,P2Pressure,P1PostError,P2PostError
0,0,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,1,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
2,2,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,2,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,0.0
3,3,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,3,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,0.0
4,4,2011-ausopen-1101,1.0,1.0,0.0,1.0,1.0,4,1.0,2.0,...,0.0,1.0,1.0,0.0,0.0,4.0,1.0,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792718,792718,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,272,2.0,2.0,...,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0,0.0,0.0
792719,792719,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,273,1.0,2.0,...,0.0,0.0,0.0,0.0,25.0,49.0,1.0,3.0,0.0,0.0
792720,792720,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,274,2.0,2.0,...,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0,0.0,0.0
792721,792721,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,275,1.0,2.0,...,0.0,1.0,0.0,0.0,25.0,50.0,1.0,3.0,0.0,0.0
792722,792722,2021-wimbledon-1701,4.0,6.0,3.0,9.0,1.0,276,1.0,2.0,...,0.0,1.0,1.0,0.0,25.0,51.0,1.0,3.0,0.0,0.0

In [5]:
for i in range(2, len(points)):
    if (points["P1UnfErr"][i - 1] == 1) | (points["P1DoubleFault"][i - 1] == 1) & (points["match_id"][i] == points["match_id"][i - 1]):
        points["P1PostError"][i] = 1
    if (points["P2UnfErr"][i - 1] == 1) | (points["P2DoubleFault"][i - 1] == 1) & (points["match_id"][i] == points["match_id"][i - 1]):
        points["P2PostError"][i] = 1
points

C:\Users\anhmi\miniconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\anhmi\miniconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Unnamed: 0,match_id,SetNo,P1GamesWon,P2GamesWon,GameNo,GameWinner,PointNumber,PointWinner,PointServer,...,P1UnfErr,P2UnfErr,P1BreakPoint,P2BreakPoint,P1Errors,P2Errors,P1Pressure,P2Pressure,P1PostError,P2PostError
0,0,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,1,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,1,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0
2,2,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,2,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0,1.0
3,3,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,3,1.0,2.0,...,0.0,1.0,0.0,0.0,0.0,3.0,1.0,2.0,0.0,1.0
4,4,2011-ausopen-1101,1.0,1.0,0.0,1.0,1.0,4,1.0,2.0,...,0.0,1.0,1.0,0.0,0.0,4.0,1.0,2.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792718,792718,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,272,2.0,2.0,...,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0,0.0,1.0
792719,792719,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,273,1.0,2.0,...,0.0,0.0,0.0,0.0,25.0,49.0,1.0,3.0,0.0,0.0
792720,792720,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,274,2.0,2.0,...,0.0,0.0,1.0,0.0,25.0,49.0,1.0,3.0,0.0,0.0
792721,792721,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,275,1.0,2.0,...,0.0,1.0,0.0,0.0,25.0,50.0,1.0,3.0,0.0,0.0
792722,792722,2021-wimbledon-1701,4.0,6.0,3.0,9.0,1.0,276,1.0,2.0,...,0.0,1.0,1.0,0.0,25.0,51.0,1.0,3.0,0.0,1.0

In [6]:
points.to_csv("../data/points-pressure-posterror.csv")