In [7]:
import pandas as pd

In [73]:
points_2011 = pd.read_csv(f"../data/grand-slam-point-data/combined-points/2011-combined-points.csv", encoding='unicode_escape', low_memory=False)
match_2011 = pd.read_csv(f"../data/grand-slam-point-data/combined-matches/2011-combined-matches.csv", encoding='unicode_escape', low_memory=False)
combined = pd.merge(points_2011, match_2011, on="match_id", how="inner")
for i in range(2012, 2022):
    points = pd.read_csv(f"../data/grand-slam-point-data/combined-points/{i}-combined-points.csv", encoding='unicode_escape', low_memory=False)
    match = pd.read_csv(f"../data/grand-slam-point-data/combined-matches/{i}-combined-matches.csv", encoding='unicode_escape', low_memory=False)
    cur_year = pd.merge(points, match, on="match_id", how="inner")
    combined = pd.concat([combined, cur_year], sort=True)

points = combined
points = points[
    ["match_id", "SetNo", "P1GamesWon", "P2GamesWon", "GameNo", "GameWinner", "PointNumber", "PointWinner", "PointServer", "P1Score", 
    "P2Score", "P1Winner", "P2Winner", "P1DoubleFault", "P2DoubleFault", "P1UnfErr", "P2UnfErr", "P1BreakPoint", "P2BreakPoint"]
].dropna(how="any")
points

,match_id,SetNo,P1GamesWon,P2GamesWon,GameNo,GameWinner,PointNumber,PointWinner,PointServer,P1Score,P2Score,P1Winner,P2Winner,P1DoubleFault,P2DoubleFault,P1UnfErr,P2UnfErr,P1BreakPoint,P2BreakPoint
0,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,1,1.0,2.0,15,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,2,1.0,2.0,30,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,3,1.0,2.0,40,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2011-ausopen-1101,1.0,1.0,0.0,1.0,1.0,4,1.0,2.0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114556,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,272,2.0,2.0,40,40,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
114557,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,273,1.0,2.0,AD,40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
114558,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,274,2.0,2.0,40,40,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
114559,2021-wimbledon-1701,4.0,5.0,3.0,9.0,0.0,275,1.0,2.0,AD,40,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
114560,2021-wimbledon-1701,4.0,6.0,3.0,9.0,1.0,276,1.0,2.0,0,0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [76]:
match_errors = points.groupby(["match_id"])[["P1DoubleFault", "P1UnfErr", "P2DoubleFault", "P2UnfErr"]].cumsum().groupby(level=0).cumsum().reset_index()
points["P1Errors"] = match_errors["P1UnfErr"] + match_errors["P1DoubleFault"]
points["P2Errors"] = match_errors["P2UnfErr"] + match_errors["P2DoubleFault"]
points[["P1Errors", "P2Errors"]]

        P1Errors  P2Errors
0            0.0       0.0
1            0.0       1.0
2            0.0       2.0
3            0.0       3.0
4            0.0       4.0
...          ...       ...
114556      72.0      60.0
114557      74.0      60.0
114558      75.0      60.0
114559      76.0      61.0
114560      78.0      62.0

[792723 rows x 2 columns]

In [69]:
points

,match_id,SetNo,P1GamesWon,P2GamesWon,GameNo,GameWinner,PointNumber,PointWinner,PointServer,P1Score,...,P1Winner,P2Winner,P1DoubleFault,P2DoubleFault,P1UnfErr,P2UnfErr,P1BreakPoint,P2BreakPoint,P1Errors,P2Errors
0,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,0,0.0,0.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,18.0
1,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,1,1.0,2.0,15,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,26.0,63.0
2,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,2,1.0,2.0,30,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,42.0,26.0
3,2011-ausopen-1101,1.0,0.0,0.0,1.0,0.0,3,1.0,2.0,40,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,28.0,28.0
4,2011-ausopen-1101,1.0,1.0,0.0,1.0,1.0,4,1.0,2.0,0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,25.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3562,2017-ausopen-1120,2.0,0.0,1.0,2.0,0.0,66,2.0,1.0,40,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,48.0,47.0
3563,2017-ausopen-1120,2.0,0.0,2.0,2.0,2.0,67,2.0,1.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,34.0,15.0
3564,2017-ausopen-1120,2.0,0.0,2.0,3.0,0.0,68,2.0,2.0,0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,42.0
3565,2017-ausopen-1120,2.0,0.0,2.0,3.0,0.0,69,2.0,2.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,19.0,27.0
3566,2017-ausopen-1120,2.0,0.0,2.0,3.0,0.0,70,2.0,2.0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,25.0,51.0